- Import required libraries

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

- load the processed dataset

In [2]:
bp_data = pd.read_csv('datasets/bp_data_processed.csv')

bp_data.head()

,age,education,sex,is_smoking,cigsPerDay,prevalentStroke,diabetes,totChol,diaBP,BMI,heartRate,glucose
0,36,4,1,0,0,0,0,212.0,98.0,29.77,72.0,75.0
1,46,1,0,1,10,0,0,250.0,71.0,20.35,88.0,94.0
2,50,1,1,1,20,0,0,233.0,88.0,28.26,68.0,94.0
3,64,1,0,1,30,0,0,241.0,85.0,26.42,70.0,77.0
4,61,3,0,0,0,0,0,272.0,121.0,32.80,85.0,65.0

In [3]:
X = bp_data.drop('diaBP', axis=1)

y = bp_data['diaBP']

In [4]:
X.head()

,age,education,sex,is_smoking,cigsPerDay,prevalentStroke,diabetes,totChol,BMI,heartRate,glucose
0,36,4,1,0,0,0,0,212.0,29.77,72.0,75.0
1,46,1,0,1,10,0,0,250.0,20.35,88.0,94.0
2,50,1,1,1,20,0,0,233.0,28.26,68.0,94.0
3,64,1,0,1,30,0,0,241.0,26.42,70.0,77.0
4,61,3,0,0,0,0,0,272.0,32.80,85.0,65.0

- Creating train and test dataset from X and y

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=33)

X_train.shape, X_test.shape

((2341, 11), (586, 11))

### Scaling

In [6]:
X_train[['age', 'cigsPerDay', 'totChol', 'BMI', 'heartRate', 'glucose']].describe().T

,count,mean,std,min,25%,50%,75%,max
age,2341.0,49.664673,8.620532,32.00,42.00,49.00,57.00,70.00
cigsPerDay,2341.0,8.999146,11.860442,0.00,0.00,0.00,20.00,70.00
totChol,2341.0,236.818881,44.038848,113.00,207.00,234.00,263.00,600.00
BMI,2341.0,25.726467,4.074252,15.96,22.99,25.33,27.97,51.28
heartRate,2341.0,75.860316,11.958713,45.00,68.00,75.00,83.00,140.00
glucose,2341.0,82.115762,24.485506,40.00,71.00,78.00,87.00,394.00

- Create  numerical dataframe from train feature data and test feature data
- Also create catagorical dataframe from train feature data and test feature data

In [7]:
X_train_numerical = X_train[['age', 'cigsPerDay','totChol', 'BMI', 'heartRate', 'glucose']]

X_test_numerical = X_test[['age', 'cigsPerDay', 'totChol', 'BMI', 'heartRate', 'glucose']]

In [8]:
X_train_categorical = X_train[['education', 'sex', 'is_smoking', 'prevalentStroke', 'diabetes']]

X_test_categorical = X_test[['education', 'sex', 'is_smoking', 'prevalentStroke', 'diabetes']]

- Scale train and test numerical dataframe by using standard scaler

In [9]:
scaler = StandardScaler()

X_train_numerical = pd.DataFrame(scaler.fit_transform(X_train_numerical),
                                 columns=X_train_numerical.columns)

X_test_numerical = pd.DataFrame(scaler.transform(X_test_numerical),
                                columns=X_test_numerical.columns)

In [10]:
X_train_numerical.describe()

,age,cigsPerDay,totChol,BMI,heartRate,glucose
count,2.341000e+03,2.341000e+03,2.341000e+03,2.341000e+03,2.341000e+03,2.341000e+03
mean,-2.154999e-16,-4.704576e-17,7.739786e-17,-4.158238e-16,4.143062e-16,-1.365845e-17
std,1.000214e+00,1.000214e+00,1.000214e+00,1.000214e+00,1.000214e+00,1.000214e+00
min,-2.049577e+00,-7.589151e-01,-2.812184e+00,-2.397631e+00,-2.581123e+00,-1.720396e+00
25%,-8.893083e-01,-7.589151e-01,-6.772487e-01,-6.717925e-01,-6.574282e-01,-4.540701e-01
50%,-7.711997e-02,-7.589151e-01,-6.402263e-02,-9.733125e-02,-7.195589e-02,-1.681257e-01
75%,8.510952e-01,9.277230e-01,5.946276e-01,5.507789e-01,5.971553e-01,1.995173e-01
max,2.359445e+00,5.144318e+00,8.248597e+00,6.273297e+00,5.364573e+00,1.274023e+01

In [11]:
X_test_numerical.describe()

              age  cigsPerDay     totChol         BMI   heartRate     glucose
count  586.000000  586.000000  586.000000  586.000000  586.000000  586.000000
mean    -0.091178    0.047851    0.035197    0.086540    0.011683   -0.037004
std      0.984081    1.009541    1.064206    1.065338    1.006225    0.920603
min     -1.933550   -0.758915   -2.267094   -1.968013   -2.413845   -1.434451
25%     -0.889308   -0.758915   -0.739707   -0.629444   -0.657428   -0.484707
50%     -0.193147   -0.674583   -0.029955   -0.027365   -0.071956   -0.208975
75%      0.619041    0.927723    0.662764    0.609698    0.346239    0.158668
max      2.243418    3.457680    5.159755    7.628436    5.615489   11.678146

- Join both scaled numerical dataframe and categorical dataframe to get scaled feature train and test data

In [12]:
X_train_categorical.reset_index(drop=True, inplace=True)
X_train_numerical.reset_index(drop=True, inplace=True)

X_train = pd.concat( [ X_train_numerical, X_train_categorical], axis=1)

X_train.head()

,age,cigsPerDay,totChol,BMI,heartRate,glucose,education,sex,is_smoking,prevalentStroke,diabetes
0,-1.005335,-0.758915,-0.699961,-0.853460,0.764433,-0.127276,4,0,0,0,0
1,1.663284,0.506063,1.048869,-1.118596,-0.322873,-0.576618,2,0,1,0,0
2,0.503015,-0.758915,0.821748,0.818370,2.855406,-0.372372,1,0,0,0,0
3,-1.353416,-0.758915,0.049538,1.905918,-0.071956,-0.086427,2,0,0,0,0
4,0.503015,-0.505919,-1.449459,0.118705,-0.071956,-0.576618,1,1,1,0,0

In [13]:
X_test_categorical.reset_index(drop=True, inplace=True)
X_test_numerical.reset_index(drop=True, inplace=True)

X_test = pd.concat([X_test_numerical, X_test_categorical], axis=1)

X_test.head()

,age,cigsPerDay,totChol,BMI,heartRate,glucose,education,sex,is_smoking,prevalentStroke,diabetes
0,-1.121362,2.867357,2.002776,-0.156250,0.178961,0.485462,1,1,1,0,0
1,-1.005335,1.771042,-0.881657,-1.035127,0.764433,0.076970,1,1,1,0,0
2,0.154934,-0.758915,0.571915,1.243078,-0.071956,-0.208975,2,0,0,0,0
3,-1.005335,-0.758915,0.844460,-0.075237,0.346239,-0.249824,2,1,0,0,0
4,-1.353416,0.000072,-0.381992,-0.254449,2.855406,0.199517,1,0,1,0,0

### Build Model

In [34]:
def build_model(regressor, X_train, y_train, X_test, y_test):
    
    model = regressor.fit(X_train, y_train)
    
    y_pred = model.predict(X_test)
    
    training_score = model.score(X_train, y_train)
    testing_score = model.score(X_test, y_test)
    
    result_dict = {'Training Score' :  training_score,
                   'Testing Score ' :  testing_score}
    
    return  result_dict

In [35]:
def performance_metrics_report():
    
    for key in report_log:
        print('-' * 50)
        print('Regression Model -',key)
        print('-' * 50)
        
        print()
        for score in report_log[key]:
            print(score, report_log[key][score])

- Linear Regression

In [36]:
report_log = dict()

In [37]:
report_log['Linear Regression'] = build_model(LinearRegression(), X_train, y_train, X_test, y_test)

performance_metrics_report()

--------------------------------------------------
Regression Model - Linear Regression
--------------------------------------------------

Training Score 0.20658019944281802
Testing Score  0.26247024419553355

In [38]:
report_log['KNeighbors'] = build_model(KNeighborsRegressor(), X_train, y_train, X_test, y_test)

performance_metrics_report()

--------------------------------------------------
Regression Model - Linear Regression
--------------------------------------------------

Training Score 0.20658019944281802
Testing Score  0.26247024419553355
--------------------------------------------------
Regression Model - KNeighbors
--------------------------------------------------

Training Score 0.3658631969080023
Testing Score  0.13526359205932392

In [39]:
report_log['SVR'] = build_model(SVR(), X_train, y_train, X_test, y_test)

performance_metrics_report()

--------------------------------------------------
Regression Model - Linear Regression
--------------------------------------------------

Training Score 0.20658019944281802
Testing Score  0.26247024419553355
--------------------------------------------------
Regression Model - KNeighbors
--------------------------------------------------

Training Score 0.3658631969080023
Testing Score  0.13526359205932392
--------------------------------------------------
Regression Model - SVR
--------------------------------------------------

Training Score 0.20313810618657524
Testing Score  0.23163118416071815

In [40]:
report_log['Random Forest'] = build_model(RandomForestRegressor(), X_train, y_train, X_test, y_test)

performance_metrics_report()

--------------------------------------------------
Regression Model - Linear Regression
--------------------------------------------------

Training Score 0.20658019944281802
Testing Score  0.26247024419553355
--------------------------------------------------
Regression Model - KNeighbors
--------------------------------------------------

Training Score 0.3658631969080023
Testing Score  0.13526359205932392
--------------------------------------------------
Regression Model - SVR
--------------------------------------------------

Training Score 0.20313810618657524
Testing Score  0.23163118416071815
--------------------------------------------------
Regression Model - Random Forest
--------------------------------------------------

Training Score 0.878718781273387
Testing Score  0.20498453717003629